html,body{
  background-color: #f5f5f5;
}

h1,h2,h3,h4,h5,h6,ul,li,dl,ol,input{
  padding: 0;
  margin: 0;
}

ul,li{
  list-style: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
